* {
    font-family: "Inter", sans-serif;
}
  
.header {
    font-weight: 700;
}
  
.header--1 {
    font-size: 48px;
}
  
.header--2 {
    font-size: 32px;
}
  
.header--3 {
    font-size: 24px;
}
  
.header--4 {
    font-size: 20px;
}
  
.header--5 {
    font-size: 16px;
}
  
.header--6 {
    font-size: 14px;
}