.my-button {
    min-width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    }

.my-button--bordered {
    background-color: navy;
    color: white;
}

.my-button--primary{
    background-color: none;
    color: navy;
    border: navy 1px solid ;
}

.my-button--small {
    min-width: 100px;
    min-height: 40px;
    font-size: 12px;
}

.my-button--medium {
    min-width: 150px;
    min-height: 50px;
    font-size: 16px;
}

.my-button--large {
    min-width: 200px;
    min-height: 60px;
    font-size: 20px;
}